<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    {%- block head %}
    <title>{% block title %}{% endblock title %}</title>
    {%- endblock %}
  </head>
  <body>
    {% block body %}{% endblock body %}
  </body>
</html>
