{% extends "base.html.j2" %}
{% block title %} Home {% endblock %}
{% block head %}
 {{ super() }}
{% endblock %}
{% block body %}
    <p>Project 1:</p>
    {%- if session %}
    <a href="{{ url_for('user', username=session.username ) }}">{{ session.displayname }}</a>
    {% endif %}
    <ul>
    {% for href, caption in [('/search', 'search'), ('/login', 'login'),
                            ('/logout', 'logout'), ('/signup', 'signup')] %}
        <li><a href="{{ href }}">{{ caption }}</a></li>
    {% endfor %}
    </ul>
{% endblock %}
