{% extends "base.html.j2" %}
{% block title %} User {% endblock %}
{% block head %}
 {{ super() }}
{% endblock %}
{% block body %}
    <p>Hello {{ session.username }}</p>
    <p><a href="{{ url_for('index')  }}">Home</a></p>
{% endblock %}
